In [1]:
print("Hello")

Hello

In [2]:
c=a+b
a=10
b=9
print(c)

NameError: name 'a' is not defined

In [3]:
a=10
b=8
c=a+b
c

18

In [4]:
c=10
b=11
a=c*b
a

110

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("CardioGoodFitness-1.csv")

In [8]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [1]:
print("hello world")

hello world

In [2]:
print('Hello world')

Hello world

In [3]:
print(Hello world) ## string must be in inverted comma

SyntaxError: invalid syntax (3449611317.py, line 1)